[submodule "add-links"]
	path = add-links
	url = https://github.com/reactome/add-links
	branch = develop
[submodule "biomodels"]
	path = biomodels
	url = https://github.com/reactome/release-biomodels
[submodule "chebi-update"]
	path = chebi-update
	url = https://github.com/reactome/release-chebi-update
[submodule "release-common-lib"]
	path = release-common-lib
	url = https://github.com/reactome/release-common-lib
[submodule "data-exporter"]
	path = data-exporter
	url = https://github.com/reactome/release-data-exporter
[submodule "download-directory"]
	path = download-directory
	url = https://github.com/reactome/release-download-directory
[submodule "go-update"]
	path = go-update
	url = https://github.com/reactome/release-go-update
[submodule "orthoinference"]
	path = orthoinference
	url = https://github.com/reactome/release-orthoinference
[submodule "orthopairs"]
	path = orthopairs
	url = https://github.com/reactome/release-orthopairs
