[submodule "add-links"]
	path = add-links
	url = https://github.com/reactome/add-links
	branch = develop
[submodule "biomodels"]
	path = biomodels
	url = https://github.com/reactome/release-biomodels
[submodule "chebi-update"]
	path = chebi-update
	url = https://github.com/reactome/release-chebi-update
